@import 'https://fonts.googleapis.com/css?family=Arimo|Baloo+Paaji';

.navbar-brand img {
    width: 24px;
}
body {
    font-family: baloo paaji, sans-serif;
}
h1{
    font-family: courier;
    color: #9247b4
}
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
      div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}
      div.panel.show {
    display: block;