@import 'https://fonts.googleapis.com/css?family=Arimo|Baloo+Paaji';

.navbar-brand img {
    width: 24px;
}
body {
    font-family: baloo paaji, sans-serif;
}
h1{
    font-family: courier;
    color: #9247b4
}
